# Data Containers

## **Lists**

In [1]:
fruits = ["apple", "banana", "cherry"]

**Operations**

Indexing

In [2]:
print(fruits[0])  # Output: apple

apple

Slicing

In [3]:
print(fruits[0:2])  # Output: ['apple', 'banana']

['apple', 'banana']

Adding Elements

In [6]:
fruits.append("orange")
fruits.insert(1, "mango")

Removing Elements

In [5]:
fruits.remove("banana")
fruits.pop(2)

'cherry'

## Tuples

In [7]:
coordinates = (10, 20)

Indexing and Slicing: Similar to lists.

In [8]:
print(coordinates[0])  # Output: 10

10

## Sets

In [9]:
unique_numbers = {1, 2, 3, 4}

Adding Elements: Use add()

In [10]:
unique_numbers.add(5)

Removing Elements: Use remove() or discard().

In [11]:
unique_numbers.remove(2)

Set Operations: Union, intersection, difference.

In [12]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a | set_b)  # Union: {1, 2, 3, 4, 5}
print(set_a & set_b)  # Intersection: {3}
print(set_a - set_b)  # Difference: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

## Dictionaries

In [13]:
student = {"name": "Alice", "age": 20, "courses": ["Math", "Science"]}

Accessing Values: Use keys.

In [14]:
print(student["name"])  # Output: Alice

Alice

Adding/Updating: Assign a value to a key.

In [15]:
student["age"] = 21
student["grade"] = "A"

Removing Items: Use pop() to remove a key-value pair.

In [16]:
student.pop("age")

21

# Control flow

## If Statements

In [1]:
number = 5
if number > 0:
    print("The number is positive.")

The number is positive.

Check String Length:

In [2]:
name = "Alice"
if len(name) > 3:
    print("The name is longer than 3 characters.")

The name is longer than 3 characters.

Check Membership in List

In [3]:
fruits = ["apple", "banana", "cherry"]
if "banana" in fruits:
    print("Banana is in the list.")

Banana is in the list.

Check if Variable is Not None:

In [4]:
result = None
if result is None:
    print("Result is not set yet.")

Result is not set yet.

## If-Else Statements

Check Even or Odd Number

In [5]:
number = 4
if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

Age Verification

In [6]:
age = 17
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

Check for Empty List:

In [7]:
items = []
if items:
    print("The list is not empty.")
else:
    print("The list is empty.")

The list is empty.

Temperature Check:

In [8]:
temperature = 15
if temperature > 20:
    print("It's warm outside.")
else:
    print("It's cold outside.")

It's cold outside.

## If-Elif-Else Statements

Grading System

In [9]:
score = 72
if score >= 90:
    print("Grade A")
elif score >= 80:
    print("Grade B")
elif score >= 70:
    print("Grade C")
else:
    print("Grade D")

Grade C

Traffic Light Signal

In [10]:
traffic_light = "yellow"
if traffic_light == "red":
    print("Stop")
elif traffic_light == "yellow":
    print("Slow down")
elif traffic_light == "green":
    print("Go")
else:
    print("Invalid signal")

Slow down

Classify Age Group

In [11]:
age = 35
if age < 13:
    print("Child")
elif age < 18:
    print("Teenager")
elif age < 65:
    print("Adult")
else:
    print("Senior")

Adult

Check Temperature Range

In [12]:
temperature = 30
if temperature < 0:
    print("Freezing")
elif temperature <= 20:
    print("Cold")
elif temperature <= 30:
    print("Warm")
else:
    print("Hot")

Warm

## Nested If Statements

Permission Check with Age

In [13]:
age = 17
has_permission = True
if age < 18:
    if has_permission:
        print("You can enter with permission.")
    else:
        print("You cannot enter.")
else:
    print("You are allowed to enter.")

You can enter with permission.

Nested Condition for Shopping

In [14]:
has_discount = True
is_member = False
if has_discount:
    if is_member:
        print("You get a 20% discount.")
    else:
        print("You get a 10% discount.")
else:
    print("No discount available.")

You get a 10% discount.

Nested Temperature and Time Check

In [15]:
temperature = 22
time_of_day = "morning"
if temperature > 20:
    if time_of_day == "morning":
        print("It's warm and morning time.")
    else:
        print("It's warm but not morning.")
else:
    print("It's cold.")

It's warm and morning time.

Bank Account Balance Check

In [16]:
balance = 500
withdraw_amount = 300
if balance >= withdraw_amount:
    if withdraw_amount > 0:
        print("Transaction successful.")
    else:
        print("Invalid amount to withdraw.")
else:
    print("Insufficient funds.")

Transaction successful.